:root {
    --bg: #EEDDC4;  
    --text: #1E2219; 
    --sec: #5E3712; 
}

a{
    text-decoration: none;
    color: var(--sec);
}

.almendra {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

body{
    background-color: var(--bg);
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--text);
    text-align: center;
    width: auto;
}

main{
    width: 75vw;
    margin: 10vh 0px auto auto;
}

fieldset{
    border: none;
}




/* const */

.head{
    color: var(--sec);
    font-family: "Almendra Display", serif;
    font-weight: 400;
    font-style: normal;
}

.nav_cont{
    width: 17vw;
    padding: 4vh 3vw;
    position: fixed;
    top: 15vh;
    left: 0;
}

.select_action_main{
    width: 80%;
    margin: 2vh auto;
}

.nav_button{
    position: fixed;
    top: 2vh;
    left: 1vw;
    color: var(--sec);
    border: 1px solid var(--bg);
}
.nav_button:hover{
    color: var(--text);
    cursor: pointer;
}
.nav_button:active{
    border: 1px dotted var(--sec);
}

.home_button{
    position: fixed;
    top: 2vh;
    left: 5vw;
    color: var(--sec);
    border: 1px solid var(--bg);
}
.home_button:hover{
    color: var(--text);
    cursor: pointer;
}
.home_button:active{
    border: 1px dotted var(--sec);
}






.butt{
    background-color: var(--bg);
    border: 1px var(--sec) dotted;
    color: var(--sec);
    letter-spacing: 2px;
    width: fit-content;
    padding: 3px 5px;
    display: block;
    margin: 3vh auto;
    border-radius: 20px;
}
.butt:hover{
    color: var(--bg);
    background-color: var(--sec);
    cursor: pointer;
}

.butt2{
    color: var(--sec);
    letter-spacing: 2px;
    width: fit-content;
    display: block;
    margin: 3vh auto;
    background-color: var(--bg);
    border: 1px #fff dotted;
    padding: 3px 5px;
    border-radius: 20px;
}
.butt2:hover{
    cursor: pointer;
    border: 1px var(--sec) dotted;
}

.list_pos{
    letter-spacing: 2px;
    margin: 4vh auto;
    width: fit-content;
    border-bottom: 1px var(--sec) dotted;
}

.sections{
    border: 1px var(--sec) dotted;
    width: fit-content;
    padding: 8px;
    margin: 3vh auto 5vh 5vw;
    letter-spacing: 1px;
    border-radius: 20px;
}